/*GENERAL*/
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
			

#blocpage
{
	max-width: 1340px;
	min-width: 320px;
	margin-left: auto;
	margin-right: auto;
}

body
{
	font-family: 'Raleway', sans-serif;
}


h1, h3
{
	font-weight:bold;
}

a 
{
	text-decoration: none;
	color: black;
}





/*Header*/


header nav ul
{
	list-style: none;
	display: flex;
}
#header
{
	display: flex;
	width: 100%;

}
#logo
{
	margin-right:750px ;
}
header img
{
	
	padding-top: 50px;
}

.navheader
{
	margin-left: 25px;
	font-size:1.1em ;
	padding-top: 50px;
	text-decoration: none;
	color: black;	
}

#navinscription
{
	color: #0065FC;
	text-decoration: none;
	font-weight: bold;
	margin-left: 25px;
	font-size: 1.1em;
}
header nav ul li
{
	padding-top: 50px;
	width: 160px;
	text-align: center;
}

header nav ul li:hover
{
	border-top: 3px solid #0065FC;	
}

.navheader:hover
{
	color: #0065FC;
}

/*SECTION 1: SEARCH*/

#search h1
{
	font-size: 1.4em;
	margin-top: 50px;
	position: relative;
	left: -40px;

	
}

#search h2
{
	font-size: 1em;
	color: #303030;
	margin-bottom: 25px;

	
}

#barreDeRecherche
{
	display: flex;
	
}

.mapPoint
{
	background-color: #F2F2F2;
	width: 50px;
	height: 50px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;

}

.mapPoint p
{
	text-align: center;
}

.mapPoint i
{
	font-size: 1.2em;
}

.barre input 
 {
 	width: 235px;
 	height: 50px;
 	border:  2px solid #F2F2F2;
 }

.bouton input
{
	width: 135px;
	height: 50px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	background-color: #0065FC;
	color: white;
	font-weight: bold;
	font-size: 1em;
	border:  2px solid #0065FC;

}

.bouton i
{
	opacity: 0;
}


					/*Filtre de recherche*/ 

#filtres
{
	display: flex;
	margin-top: 5px;
	align-items: center;
	height: 50px;
}

.bulles1
{
	display: flex;
	margin-left: 15px;
	border: 2px solid #F2F2F2;
	border-radius: 35px;
	max-height: 50px;
}

.nomFiltre1
{
	font-weight: bold;
	margin-left: 15px;
	padding-right: 25px;

}

.bulles1 p 
{
	margin-left: 5px;
	color: #0065FC;
	background-color: #DEEBFF;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	text-align: center;
	line-height: 100%;
	vertical-align: middle;
	padding: 15px;
	position: relative;
	top: -26px;
	left: -7px;
	font-size: 1.5em;
}


.bulles1:hover
{
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.bulles2
{
	display: flex;
	margin-left: 15px;
	border: 2px solid #F2F2F2;
	border-radius: 35px;
	max-height: 50px;
}

.nomFiltre2
{
	font-weight: bold;
	margin-left: 15px;
	padding-right: 25px;

}

.bulles2 p 
{
	margin-left: 5px;
	color: #0065FC;
	background-color: #DEEBFF;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	text-align: center;
	line-height: 100%;
	vertical-align: middle;
	padding: 15px;
	position: relative;
	top: -26px;
	left: -7px;
	font-size: 1.5em;
}


.bulles2:hover
{
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.bulles3
{
	display: flex;
	margin-left: 15px;
	border: 2px solid #F2F2F2;
	border-radius: 35px;
	max-height: 50px;
}

.nomFiltre3
{
	font-weight: bold;
	margin-left: 15px;
	padding-right: 25px;

}

.bulles3 p 
{
	margin-left: 5px;
	color: #0065FC;
	background-color: #DEEBFF;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	text-align: center;
	line-height: 100%;
	vertical-align: middle;
	padding: 15px;
	position: relative;
	top: -26px;
	left: -7px;
	font-size: 1.5em;
}


.bulles3:hover
{
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.bulles4
{
	display: flex;
	border: 2px solid #F2F2F2;
	margin-left: 15px;
	border-radius: 35px;
	max-height: 50px;
}

.nomFiltre4
{
	font-weight: bold;
	margin-left: 15px;
	padding-right: 25px;

}

.bulles4 p 
{
	margin-left: 5px;
	color: #0065FC;
	background-color: #DEEBFF;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	text-align: center;
	line-height: 100%;
	vertical-align: middle;
	padding: 15px;
	position: relative;
	top: -26px;
	left: -7px;
	font-size: 1.5em;
}


.bulles4:hover
{
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
#infobulle
{
	display: flex;
	margin-top: 15px;
	
	margin-bottom: 20px;
}

#infobulle p:last-child
{
	margin-left: 15px;
	font-size: 1.2em;
}

#infobulle i
{
	color: #0065FC;
	font-size: 1em;
	position: relative;
	right: -10px;
	bottom: -2px;
}
#contour
{
	width: 25px;
	height: 25px;
	border: 2px solid #F2F2F2 ;
	border-radius: 50%;
	position: relative;
	bottom: -16px;
	right: -2px;
}

#responsive_filtre
{
	display: flex;
}


/*SECTION ACCOMODATIONS*/

#bloc
{
	display: flex;
	width: 100%;
}
#hebergementsHaut
{
	display: flex;
}


#bloc1
{
	background-color:  #F2F2F2;
	border-radius:20px;
	width: 880px;
	height: 625px;
}

h1
{
	margin-left: 40px;
}

#bloc1 h1
{
	margin-top: 40px;
}

#hebergement1
{
	width: 245px;
	height: 220px;
	background-color: white;
	border-radius: 20px;
	margin-left: 40px;
}
#hebergement1 img
{
	width: 235px;
	height: 115px;
	object-fit: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	margin: 4px;
}
 .description
{
	position: relative;
	top: -15px;
	margin-left: 10px;
}

#hebergement1 p 
{
	position: relative;
	top: -8px;
}

#hebergement1 a 
{
	text-decoration: none;
	color: black;
}


.rating
{
	display: flex;
	position: relative;
	top: -15px; 
} 
.full 
{
	color: #0065FC;
}

.empty
{
	color: #F2F2F2;
}


#hebergement2
{
	width: 245px;
	height: 220px;
	background-color: white;
	border-radius: 20px;
	margin-left: 40px;
}

#hebergement2 img
{
	width: 235px;
	height: 115px;
	object-fit: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	margin: 4px;
}

#hebergement2 p 
{
	position: relative;
	top: -8px;
}
#hebergement2 a 
{
	text-decoration: none;
	color: black;
}


#hebergement3
{
	width: 245px;
	height: 220px;
	background-color: white;
	border-radius: 20px;
	margin-left: 40px;
	margin-right:40px ;
}

#hebergement3 img
{
	width: 235px;
	height: 115px;
	object-fit: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	margin: 4px;
}

#hebergement3 p 
{
	position: relative;
	top: -8px;
}

#hebergement3 a 
{
	text-decoration: none;
	color: black;
}

#hebergementsBas
{
	display: flex;
}

#hebergement4
{
	width: 245px;
	height: 220px;
	background-color: white;
	border-radius: 20px;
	margin-left: 40px;
	margin-top: 30px;
}

#hebergement4 img
{
	width: 235px;
	height: 115px;
	object-fit: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	margin: 4px;
}

#hebergement4 p 
{
	position: relative;
	top: -8px;
}

#hebergement4 a 
{
	text-decoration: none;
	color: black;
}

#hebergement5
{
	width: 245px;
	height: 220px;
	background-color: white;
	border-radius: 20px;
	margin-left: 40px;
	margin-top: 30px;
}

#hebergement5 img
{
	width: 235px;
	height: 115px;
	object-fit: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	margin: 4px;
}

#hebergement5 p 
{
	position: relative;
	top: -8px;
}
#hebergement5 a 
{
	text-decoration: none;
	color: black;
}

#hebergement6
{
	width: 245px;
	height: 220px;
	background-color: white;
	border-radius: 20px;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 30px;
}

#hebergement6 img
{
	width: 235px;
	height: 115px;
	object-fit: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	margin: 4px;
}

#hebergement6 p 
{
	position: relative;
	top: -8px;
}

#hebergement6 a 
{
	text-decoration: none;
	color: black;
}


#plus p
{
	margin-left: 40px;
	margin-top: 30px;
	

}
#plus a 
{
	text-decoration: none;
	color: black;
	font-weight: bold;
}

/*PARTIE TENDANCES*/
#tendances
{
	background-color: #F2F2F2;
	margin-left: 40px;
	border-radius: 20px;
	width: 420px;
	height: 625px;
}

#titre_tendances
{
	display: flex;

}

#titre_tendances h1
{
	margin-left: 40px;
	margin-right: 115px;
	margin-top: 40px;
}
#icon_tendances i  
{
	font-size: 1.4em;
	margin-top: 25px;
	position: relative;
	left: -20px;
	bottom: -15px;

}


#hebergement7
{
	margin-left: 40px;
	width: 340px;
	height: 145px;
	border-radius: 20px;
	background-color: white;
}

#hebergement7 img 
{
	width: 130px;
	height: 135px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	margin-top: 5px;
	margin-left: 5px;
	object-fit: cover;
}
#hebergement7 p 
{
	position: relative;
	top: -15px;
}

.rating2
{
	display: flex;
}

#hebergement8
{
	margin-left: 40px;
	width: 340px;
	height: 145px;
	border-radius: 20px;
	background-color: white;
	margin-top:30px ;
}

#hebergement8 img 
{
	width: 130px;
	height: 135px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	margin-top: 5px;
	margin-left: 5px;
	object-fit: cover;
}

#hebergement8 p 
{
	position: relative;
	top: -15px;
}

#hebergement9
{
	margin-left: 40px;
	width: 340px;
	height: 145px;
	border-radius: 20px;
	background-color: white;
	margin-top:30px ;
}

#hebergement9 img 
{
	width: 130px;
	height: 135px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	margin-top: 5px;
	margin-left: 5px;
	object-fit: cover;
}
#hebergement9 p 
{
	position: relative;
	top: -15px;
}


.flex
{
	display: flex;
}

.description2
{
	margin-left: 20px;
}


/*SECTION ACTIVITES*/

#activites
{
	display:  flex;

}
#activities h1
{
	position: relative;
	left: -40px;
	margin-top: 65px;
}
#activites h3
{
	margin-left: 15px;
}
#activite1
{
	width: 300px;
	height: 445px;
	border: 1px solid #F2F2F2;
	border-radius: 20px;
	box-shadow: 1px 1px 1px #F2F2F2 ;
}

#activite1 img 
{
	height: 390px;
	width: 300px;
	object-fit: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}


#activite2et3
{
	margin-left: 40px;
	display: flex;
	flex-direction: column;
} 

#activite2
{
	width: 300px;
	height: 235px;
	border: 1px solid #F2F2F2;
	border-radius: 20px;
	box-shadow: 1px 1px 1px #F2F2F2 ;
	margin-bottom: 40px;
}


#activite2 img
{
	width: 300px;
	height: 180px;
	object-fit: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

#activite3
{
	width: 300px;
	height: 170px;
	border: 1px solid #F2F2F2;
	border-radius: 20px;
	box-shadow: 1px 1px 1px #F2F2F2 ;
}

#activite3 img
{
	width: 300px;
	height: 105px;
	object-fit: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

#activite4
{
	width: 300px;
	height: 445px;
	margin-left: 40px;
	border: 1px solid #F2F2F2;
	border-radius: 20px;
	box-shadow: 1px 1px 1px #F2F2F2 ;
}

#activite4 img
{
	height: 390px;
	width: 300px;
	object-fit: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

#activite5et6
{
	margin-left: 40px;
	display: flex;
	flex-direction: column;
}

#activite5 
{
	height: 195px;
	width: 300px;
	border: 1px solid #F2F2F2;
	border-radius: 20px;
	box-shadow: 1px 1px 1px #F2F2F2;
	margin-bottom: 40px;
}

#activite5 img
{
	width: 300px;
	height:140px ;
	object-fit: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;

}

#activite6 
{
	width: 300px;
	height:210px ;
	border: 1px solid #F2F2F2;
	border-radius: 20px;
	box-shadow: 1px 1px 1px #F2F2F2;
}

#activite6 img
{
	width: 300px;
	height: 155px;
	object-fit: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

/*FOOTER*/ 


#bloc_footer
{
	width: 1444px;
	height: 220px;
	background-color: #F2F2F2;
	display: flex;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
}

.aide
{
	margin-left: 50px;
	margin-right: 220px;
}

.aide ul 
{
	list-style-type: none;
	
}
.aide ul li 
{
	margin-bottom: 10px;
}
.aide h3 
{
	margin-left: 40px;
}












