/*GENERAL*/
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
*
{
	font-family: 'Raleway', sans-serif;
	
	
}

body h1
{
	font-weight:bold;
}






/*Header*/


header nav ul
{
	position: absolute;
	right: 0;
	top: 0;
	list-style: none;
	display: flex;	
}

header img
{
	
	padding-top: 50px;
}

header nav ul li
{
	margin-left: 25px;
	font-size:0.9em ;
	padding-top: 50px;
	width: 160px;
	text-align: center;
	
}

header nav ul li a 
{
	color: #0065FC;
	text-decoration: none;
	font-weight: bold;
}

header nav ul li:hover
{
	border-top: 2px solid #0065FC;
	color: #0065FC;

}


/*SECTION 1: SEARCH*/

#search h1
{
	font-size: 1.4em;
	margin-top: 50px;

	
}

#search h2
{
	font-size: 1em;
	color: #303030;
	margin-bottom: 18px;
	
}

#barreDeRecherche
{
	display: flex;
	
}

.mapPoint
{
	background-color: #F2F2F2;
	width: 50px;
	height: 50px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;

}


.barre input 
 {
 	width: 235px;
 	height: 50px;
 }


.bouton input
{
	width: 135px;
	height: 50px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	background-color: #0065FC;
	color: white;
	font-weight: bold;
	font-size: 0.9em;

}

#recherche 
{
	font-weight: bold;
	font-size: 0.9em;

}
